.blackbords_container {
    width: 90%;
    padding: 10px;
    background: white;
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.blackbords_box {
    width: 483px;
    height: 530px;
    background: black;
    margin: 0px 10px;
    transition: 0.5s;
    border: 1px solid black;
    border-radius: 26px;
}

.blackbords_box:hover {
    transform: scale(1.1);
    background: black;
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}


.blackbords_container h1 {

    width: 302px;
    height: 132px;
    font-weight: 600;
    font-size: 64px;
    line-height: 66px;
    padding-top: 25px;
    position: relative;
    left: 20px;
    text-align: start;
    color: white;
}

.blackbords_container p {
    width: 385px;
    height: 216px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    position: relative;
    text-align: start;
    top: 100px;
    left: 22px;

}