.RecContent {
    box-sizing: border-box;
    height: 600px;
    border: 1px solid #FFFFFF;
    border-radius: 26px;
    margin-bottom: 40px;
}

.title__RecContent {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 102px;
    display: flex;
    align-items: center;
    margin: 60px;
}

.subtitle__RecContent {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 0;
    margin-top: auto;
    margin: 60px;
}